<header></header>
<main>
    <div class="container">
        <div class="info">
            <img src="../assets/coffeecup.png">
            <h2>Welcome to Coffee App</h2>
            <p>helping you to order coffee</p>
        </div>
        <div class="login">
            <form>
                <label for="usr">Username</label>
                <input id="usr" class="usr" type="text">
                <label for="pasw">Password</label>
                <input id="pasw" class="pasw" type="password">
                <button type="button">Login</button>
            </form>
        </div>
    </div>
</main>
<footer></footer>