

        <li class="TabOrdered">
            <div class="TabHeader">
                <span class="tabno">{{table.name}}</span>
                <span class="orderby">{{table.orderName}}</span>
            </div>
            <div class="TabFooter">
                <div class="ordernum">{{table.totalDishes}} orders</div>
                <div class="status">{{table.status}}</div>
            </div>
        </li>

        <!-- <li class="TabAvailable">
            <div class="TabHeader">
                <span class="tabno">Tab.02</span>
                <span class="status">Available</span>
            </div>
            <div class="TabFooter">
                <span class="orderby">Order</span>
            </div>
        </li>
        <li class="TabOrdered">
            <div class="TabHeader">
                <span class="tabno">Tab.03</span>
                <span class="orderby">Mr. Quỳnh</span>
            </div>
            <div class="TabFooter">
                <div class="ordernum"><p>3 Orders</p> <p>1 new</p></div>
                <div class=""><p class="serived">serviced</p> <p class="preparing">preparing</p></div>
            </div>
        </li>
        <li class="TabOrdered">
            <div class="TabHeader">
                <span class="tabno">Tab.04</span>
                <span class="orderby">Mr. Quỳnh</span>
            </div>
            <div class="TabFooter">
                <div class="ordernum"><p>3 Orders</p></div>
                <div class=""><p class="serived">serviced</p></div>
            </div>
        </li> -->