<header>
<h3>Table</h3>
</header>

<main>
<div class="container">
    <ul>
        <li class="TabOrdered">
            <div class="TabHeader">
                <span class="tabno">Tab.01</span>
                <span class="orderby">Mr. Quỳnh</span>
            </div>
            <div class="TabFooter">
                <div class="ordernum">3 orders</div>
                <div class="status">Ready</div>
            </div>
        </li>
        <li class="TabAvailable">
            <div class="TabHeader">
                <span class="tabno">Tab.02</span>
                <span class="status">Available</span>
            </div>
            <div class="TabFooter">
                <span class="orderby">Order</span>
            </div>
        </li>
        <li class="TabOrdered">
            <div class="TabHeader">
                <span class="tabno">Tab.03</span>
                <span class="orderby">Mr. Quỳnh</span>
            </div>
            <div class="TabFooter">
                <div class="ordernum"><p>3 Orders</p> <p>1 new</p></div>
                <div class=""><p class="serived">serviced</p> <p class="preparing">preparing</p></div>
            </div>
        </li>
        <li class="TabOrdered">
            <div class="TabHeader">
                <span class="tabno">Tab.04</span>
                <span class="orderby">Mr. Quỳnh</span>
            </div>
            <div class="TabFooter">
                <div class="ordernum"><p>3 Orders</p></div>
                <div class=""><p class="serived">serviced</p></div>
            </div>
        </li>
    </ul>
</div>
</main>

<footer>
    <ul>
        <li><i class="fas fa-coffee"></i></li>
        <li><i class="fas fa-shopping-cart active"></i></li>
        <li><i class="fas fa-user"></i></li>
    </ul>
</footer>