<header>
<h3>Table</h3>
</header>

<main>
<div class="container">

    <ul><app-table *ngFor="let table of tables" [table]='table'></app-table></ul>
    <!-- tạo vòng lặp, lấy table trong CoffeeComponet
    [table] là property trong TableComponent
    -->
</div>
</main>

<footer>
    <ul>
        <li *ngFor='let tab of tabs'><img [src]="tab.icon" [alt]="tab.name" (click)="onClickTab(tab)"></li>
        <!-- 
            vòng lặp *ngFor: cho giá trị tab trong tabs (file coffee.component.ts) thì lặp <li>
            
            [scr] -> property binding -> lấy giá trị icon trong mảng tabs (file coffee.component.ts)
            [alt] tương tự lấy giá trị name
            về phần sự kiện, để trong dấu ngoặc tròn (click) -> gọi hàm onClick trong (file coffee.component.ts)
         -->
    </ul>
</footer>